body {
  background: black;
  color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.weather {
  float: right;
  text-align: right;
  width: 200px;
  font-size: 2.5rem;
}

.weather .main, .weather .main .icon, .weather .main .description {
  float: right;
  clear: both;
}

.weather .secondary {
  clear: both;
  float: right;
}

.weather .main .temp {
  font-size: 7rem;
  line-height: 3rem;
}

@keyframes ticker {
  0%   {margin-top: 0}
  25%  {margin-top: -100px}
  50%  {margin-top: -200px}
  75%  {margin-top: -300px}
  100% {margin-top: 0}
}


.news {
  position: absolute;
  width: 85%;
  height: 100px;
  bottom: 10px;
  margin: 20px auto;
  overflow: hidden;
  padding: 3px;
  -webkit-user-select: none;
}

.news ul {
  float: left;
  padding-left: 20px;
  animation: ticker 20s cubic-bezier(1, 0, .5, 0) infinite;
  -webkit-user-select: none;
}

.news ul li {
  line-height: 30px;
  list-style: none;
  height: 100px;
}

.news_title {
  font-size: 2rem;
  line-height: 1.8rem;
  padding-bottom: 10px;
}

.news_snippet {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #E0E0E0;
}
